<div class="row mt-3">
  <% menuItems.forEach(item => { %>
    <div class="col-md-4">
      <div class="card">
        <img src="/public/images/<%= item.imageFileName %>" class="card-img-top" alt="<%= item.name %>">
        <div class="card-body">
          <h5 class="card-title"><%= item.name %></h5>
          <p class="card-text"><%= item.description %></p>
          <button class="btn btn-primary" onclick="addToCart('<%= item.name %>')">선택하기</button>
        </div>
      </div>
    </div>
  <% }); %>
</div>
